<h2>Here is your penguin</h2>

<p>Name: <%= @penguin.name %></p>
<p>Species: <%= @penguin.species %></p>
<p>Size: <%= @penguin.size %></p>
<p>Age: <%= @penguin.age %></p>

<p><img src="http://howl10.wikispaces.com/file/view/dancing-penguin.gif/97580799/205x205/dancing-penguin.gif"></p>