<h1>Here is your penguin</h1>

<p><strong>Name:</strong> <%= @penguin.name %></p>
<p><strong>Species:</strong> <%= @penguin.species %></p>
<p><strong>Size:</strong> <%= @penguin.size %></p>
<p><strong>Age:</strong> <%= @penguin.age %></p>

<p><img src="http://howl10.wikispaces.com/file/view/dancing-penguin.gif/97580799/205x205/dancing-penguin.gif"></p>